.hidden {
    display: none;
}

.fa-solid:hover {
    cursor: pointer;
}

.showing {
    display: grid;
    margin-top: 15px;
    width: 170px;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
}

.log-out {
    margin-top: 10px;
    margin-bottom: 8px;
    display: grid;
    background: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.log-out:hover {
    cursor: pointer;
}

.user-menu,
.manage-spots {
    margin: 1px;
}

.manage-spots:hover {
    cursor: pointer;
}
