.spot-name {
    font-size: 24;
    font-weight: bold;
}

.img {
    height: 190px;
    width: 265px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
}

.rating {
    text-decoration: none;
}
