.confirmation {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.yes {
    display: flex;
    justify-content: center;
    background: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 5px;
}

.yes:hover {
    cursor: pointer;
}

.no {
    display: flex;
    justify-content: center;
}

.no:hover {
    cursor: pointer;
}
