.userList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
}

.preview {
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

.spot {
    list-style: none;
    text-decoration: none;
    width: 100%;
    margin: auto;
}

.detail-container {
    display: grid;
    justify-self: center;
    width: 250px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.rating-container {
    justify-self: end;
}


.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100px;
    height: 20px;
}

.update-button {
    justify-content: center;
    background: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 5px;
}

.update-button:hover {
    cursor: pointer;
}

.delete-button-currentSpot:hover {
    cursor:pointer;
}

.userSpot-header {
    padding-left: 40px;
}

.newSpot-button {
    margin-left: 40px;
    justify-content: center;
    background: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 5px;
}

.newSpot-button:hover {
    cursor: pointer;
}
