.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    height: 60px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid gray;
}

.logo-container { grid-area: logo-container; }
.spot-box { grid-area: spot-box; }
.menu-box { grid-area: menu-box; }

.logo-container {
    margin: 10px;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-img {
    height: 50px;
};

.logo-name {
    color: #FF5A5F;
}

.menu-box {
    height: 30px;
    z-index: 1000;
}

.spot-box {
    display: grid;
    text-decoration: none;
    justify-items: end;
}

.spot-box:hover {
    cursor: pointer;
}

.createSpot-button-main {
    display: grid;
    justify-self: end;
    text-align: center;
    padding: 2px;
    width: 130px;
    background: #FF5A5F;
    color: #FFFFFF;
    border: 1px solid black;
}
