.logIn-form {
    display: grid;
    align-content: start;
    padding: 20px;
}

.top-divider {
    display: grid;
    border-bottom: 1px solid #b0b0b0;
    justify-content: center;
}

.login-header {
    padding-bottom: 20px;
    font-size: 500;
}

.login-subheader {
    display: grid;
    justify-content: start;
    font-size: 25px;
    font-weight: 500;
}

.login-errors {
    list-style: none;
    padding: 0px;
    color: #FF5A5F;
}

.first-input {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #b0b0b0;
}

.last-input {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #b0b0b0
}

/* button {
    display: flex;
    align-content: stretch;
    font-size: normal;
} */

.submit {
    justify-content: center;
    background: #dc1063;
    color: #FFFFFF;
    border: 1px solid #dc1063;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.submit:hover {
    cursor: pointer;
}

.demoUser {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-decoration-line: underline;
}

.demoUser:hover {
    cursor: pointer;
}
